{
  "parser": "babel-eslint",
  "extends": [
	"airbnb-base",
	"plugin:flowtype/recommended",
	"plugin:prettier/recommended",
	"prettier/flowtype"
  ],
  "plugins": [
	"flowtype",
	"flowtype-errors"
  ],
  "env": {
	"jest": true,
	"browser": true,
	"node": true
  },
  "rules": {
	"max-len": ["error", { "code": 170, "ignoreUrls": true }],
	"flowtype/require-valid-file-annotation": [
	  2,
	  "always"
	],
	"no-restricted-properties": "off",
	"no-tabs": ["error", {"allowIndentationTabs": true}],
	"lines-between-class-members": "off",
	"indent": [2, "tab"],
	"no-console": "off",
	"flowtype-errors/show-errors": "error",
	"no-plusplus": "off",
	"no-param-reassign": "off",
	"class-methods-use-this": "off",
	"no-unused-vars": "off",
	"no-restricted-syntax": "off",
	"prefer-destructuring": "off",
	// https://github.com/facebook/flow/issues/3073
	"no-continue": "off",
	"import/no-cycle": "off",
	"no-multi-assign": "off"
  }
}
